<!DOCTYPE html>
<html lang="en">

<head>

  <title>Log Parser</title>

</head>

<body id="page-top">

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <label for="logType">Log to process:</label>
          <select class="browser-default custom-select" id="logType" onchange="checkmode()">
            <option selected value='Joomla'>Joomla</option>
            <option value='IIS'>IIS</option>
            <option value='apache'>apache</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <label id="modelbl" for="modeType" hidden="true">Level of detail:</label>
          <select class="browser-default custom-select" id="modeType" disabled="true" hidden="true" onchange="checkhighlight()">
            <option selected value='detail'>detailed</option>
            <option value='summurl'>IP & URL</option>
            <option value='summstat'>IP & status</option>
            <option value='summip'>IP only</option>
            <option value='urlonly'>URL only</option>
            <option value='urlstat'>URL & status</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <label for="botType">Bot inclusion:</label>
          <select class="browser-default custom-select" id="botType" onchange="checkinclusion()">
            <option selected value='default'>IP & agent</option>
            <option value='agent'>agent only</option>
            <option value='ip'>IP only</option>
            <option value='exclude'>No confirmed bots</option>
            <option value='excludesus'>No confirmed/suspected bots</option>
            <option value='only'>Only bots</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <label for="blockedType">Blocked IPs:</label>
          <select class="browser-default custom-select" id="blockedType" onchange="checkinclusion()">
            <option selected value='Y'>Include</option>
            <option value='N'>Exclude</option>
            <option value='O'>Only</option>
        </select>
        <label for="internalType">Internal IPs:</label>
          <select class="browser-default custom-select" id="internalType" onchange="checkinclusion()">
            <option selected value='Y'>Include</option>
            <option value='N'>Exclude</option>
            <option value='O'>Only</option>
        </select>
        </div>
      </div>
      <div class="row" id="excludeline" hidden="true">
        <div class="col-lg-12">
          <label id= "exImglbl" for="excludeImages"><Strong>Exclude</Strong> Images?</label>
          <input type="checkbox" id="excludeImages" disabled="true">
          <label id= "exJSlbl" for="excludeJS">Javascript?</label>
          <input type="checkbox" id="excludeJS" disabled="true">
          <label id= "exCSSlbl" for="excludeCSS">CSS?</label>
          <input type="checkbox" id="excludeCSS" disabled="true">
          <label id= "exTmplbl" for="excludeTemp">Cache?</label>
          <input type="checkbox" id="excludeTemp" disabled="true">
          <label id= "exOthlbl" for="excludeOther">Specify Other:</label>
          <input type="text" id="excludeOther" placeholder="comma list, no dot" disabled="true">
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <label id= "exsuslbl" for="highlightsus" hidden="true">Flag suspect URLs?</label>
          <input type="checkbox" id="highlightsus" disabled="true" hidden="true">
        </div>
      </div>
      <% if (nodemail != "N") { %>
      <div class="row">
        <div class="col-lg-12">
          <label for="email">Email Output?</label>
          <input type="checkbox" id="email" onclick="checkmail()">
          <input type="text" id="emailaddress" disabled="true">
        </div>
      </div>
      <%}%>
      <div class="row">
        <div class="col-lg-12">
        <button id="submitbutton" onclick="logparse()">submit</button>
        <button id="resetbutton" onclick="resetflags()">reset</button>
        <button id="downbutton" onclick="download()">download</button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <textarea rows="5" id="results" readonly style="border: none;resize: none"></textarea>
        </div>
      </div>
    </div>
    <% if (fileup != "N") { %>
    <form action="/" method="POST" enctype="multipart/form-data">
      <h4>Upload new log</h4>
      <input type="file" name="file" id=""><br/>
      <button>upload </button>
    </form>
    <%}%>
  </section> 

  <script src="webapp-process.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</body>

</html>
